@charset "UTF-8";

//vars-import ganz unten zum überschreiben

:root {
	// //s&h colors
  // --sh-blue: #002148; //Nicht-ganz-Oxford-Blau
  // --henos-aqua: #00cdcd;
  // --henos-gray: #1f2022;

	--link-color: #99c7ff;;

	//new colors
	--primary: #99c7ff;
	--secondary: #222;

	--paragraph: var(--secondary); //body > p, buttons
	--header: #555; //h1, h2, h3, h4, h5, h6, hr, strong, b, textarea, label
	--sub: #bbb; //subtitles, disabled und placeholders

  --primary-contrast: #fff; //weiß

	--background: #f2f2f2; //background color

	--form-background: rgba(200, 200, 200, 0.25);
	--form-border: rgba(70, 70, 70, 0.25);

  // body font size
  --text-base-size: 1em;

  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  // transition: 0.2s ease-in-out;
}

/* Type */

html {
	font-size: var(--text-base-size);
	font-family: var(--font-main);

	//deprecated, for now
	// @media screen and (max-width: 1680px) {
	// 	font-size: 11pt;
	// }

	// @media screen and (max-width: 1280px) {
	// 	font-size: 11pt;
	// }

	// @media screen and (max-width: 980px) {
	// 	font-size: 12pt;
	// }

	// @media screen and (max-width: 736px) {
	// 	font-size: 12pt;
	// }

	// @media screen and (max-width: 480px) {
	// 	font-size: 12pt;
	// }
}

body {
	color: var(--paragraph);
}

body,
input,
select,
textarea {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.65;
}

a {
  color: var(--link-color);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

strong,
b {
	font-weight: 600;
}

em,
i {
	font-style: italic;
}

p {
	margin: 0 0 2rem 0;

	&.special {
		text-transform: uppercase;
		font-size: .75rem;
		font-weight: 300;
		margin: 0 0 .5rem 0;
		padding: 0 0 1rem 0;
		letter-spacing: .25rem;

		&::after {
			content: '';
			position: absolute;
			margin: auto;
			right: 0;
			bottom: 0;
			left: 0;
			width: 50%;
			height: 1px;
			background-color: rgba(0, 0, 0, 0.125);
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 1rem 0;
	font-family: var(--font-hx);
	color: var(--header);

	a {
		color: inherit;
		text-decoration: none;
	}
}


h1 {
	font-size: 2.35rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.35rem;
}

h4 {
	font-size: 1.1rem;
}

h5 {
	font-size: 0.9rem;
}

h6 {
	font-size: 0.7rem;
}

sub, sup {
	font-size: 0.8rem;
	position: relative;
}

sub {
	top: 0.5rem;
}

sup {
	top: -0.5rem;
}

blockquote {
	border-left: solid 4px;
	font-style: italic;
	margin: 0 0 2rem 0;
	padding: 0.5rem 0 0.5rem 2rem;
}

code {
	border: solid 1px;
	font-family: "Courier New", monospace;
	font-size: 0.9rem;
	margin: 0 0.25rem;
	padding: 0.25rem 0.65rem;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 0.9rem;
	margin: 0 0 2rem 0;

	& code {
		display: block;
		line-height: 1.75;
		padding: 1rem 1.5rem;
		overflow-x: auto;
	}
}

hr {
	border: 0;
	border-bottom: solid 1px var(--header);
	margin: 2rem 0;

	&.major {
		margin: 3rem 0;
	}
}

input,
select,
textarea {
	color: var(--header);
}

strong,
b {
	color: var(--header);
}

blockquote {
	border-left-color: var(--form-border);
}

code {
	background: var(--form-background);
	border-color: var(--form-border);
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 300;
	height: 2.85rem;
	line-height: 2.95rem;
	padding: 0 1.5rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: var(--form-background);
	color: var(--paragraph); //!important

	margin-right: 1rem;

	--alt-box-shadow: inset 0 0 0 3px;

	&:disabled {
		color: var(--sub);
		cursor: not-allowed;
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		opacity: 0.25;
	}
	
	&.icon, &.icononly {
		padding-left: 1.35rem;
		vertical-align: middle;

		text-decoration: none;
		border-bottom: none;
		position: relative;

		&::before {
			margin-right: 0.5rem;
		}

		svg {
			top: 0.1rem;
			position: inherit;
			margin-right: 0.15rem;
			right: 0.2rem;
		}
	}
	&.icononly {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		svg {
			position: relative;
			top: auto;
			right: auto;
			margin: 0;
		}
	}

	//Muss nicht verwendet werden, wenn ul.actions schon .fit hat
	&.fit {
		display: block;
		margin: 0 0 1rem 0;
		width: 100%;
	}

	//Muss nicht verwendet werden, wenn ul.actions schon .small hat
	&.small {
		font-size: 0.8rem;
	}

	&.special {
		background-color: var(--primary);
		color: var(--primary-contrast) !important;

		&:hover {
			background-color: var(--secondary);
		}

		&:active {
			background-color: var(--secondary);
		}

		&.alt {
			box-shadow: var(--alt-box-shadow) var(--primary);
		}
	}

	&:hover {
		background-color: var(--header);
		color: var(--background);
	}

	&:active {
		background-color: var(--background);
	}

	@media screen and (max-width: 480px) {
		padding: 0;
		width: 100%;
	}

	&.alt {
		background-color: transparent;
		box-shadow: var(--alt-box-shadow) var(--form-border);
		color: #555;

		&:hover {
			background-color: var(--header);
			color: var(--background);
			// background-color: var(--form-background);
		}
		&:active {
			background-color: var(--form-border);
		}

		&.icon {
			&::before {
				color: #bbb;
			}
		}
	}

}

/* Form */

form {
	margin: 0 0 2rem 0;
	hr {
		border-bottom: solid 1px var(--sub);
		margin: 0.2rem 0 1.5rem 0
	}
}

label {
	display: block;
	font-size: 0.9rem;
	font-weight: 700;
	margin: 0 0 1rem 0;
	color: var(--header);
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2rem;
	opacity: 0;
	width: 1rem;
	z-index: -1;

	+ label {
		text-decoration: none;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		font-weight: 400;
		padding-left: 2.4rem;
		padding-right: 0.75rem;
		position: relative;

		color: var(--paragraph);

		&:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			text-transform: none !important;

			border: solid 1px;
			content: '';
			display: inline-block;
			height: 1.65rem;
			left: 0;
			line-height: 1.58125rem;
			position: absolute;
			text-align: center;
			top: 0;
			width: 1.65rem;

			background: var(--form-background);
			border-color: var(--form-border);
		}
	}

	&:checked {
		+ label {
			&:before {
				content: "";
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"/></svg>');
				background-size: contain;

				// background-color: var(--accent-1);
				border-color: var(--primary);
				// color: var(--white);

			}
		}
	}

	&:focus {
		+ label {
			&::before {
				border-color: var(--primary);
				box-shadow: 0 0 0 1px var(--primary);
			}
		}
	}
}

// input[type="checkbox"]+label:before {
//   border-radius: 2px;
// }

input[type="radio"]+label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder,
.formerize-placeholder {
	opacity: 1.0;
	color: var(--sub) !important;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea,
.inputLike {
	appearance: none;
	border: none;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1rem;
	text-decoration: none;
	width: 100%;
	background: var(--form-background);
	border: solid 1px var(--form-border);
	
	height: 2.75rem;

	&:invalid {
		box-shadow: none;
	}

	&:disabled {
		color: var(--header);
		font-style: italic;
		cursor: not-allowed;
	}

	&:read-only {
		color: var(--header);
	}

	&:focus {
		border-color: var(--primary);
		box-shadow: 0 0 0 1px var(--primary);
	}

	option {
		color: var(--paragraph);
		background: var(--form-background);
	}
}

.inputLike {
	line-height: 100%;
	&:hover {
		background-color: var(--form-background);
		border: solid 1px var(--primary);
	}
}

select {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m24 30.75-12-12 2.15-2.15L24 26.5l9.85-9.85L36 18.8Z"/></svg>');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 2rem;

	&:read-only {
		color: inherit;
		font-style: inherit;
		cursor: default;
	}
}

textarea {
	padding: 0.75rem 1rem;
	min-height: 150px;
}

/* Image */
.image {
	margin-bottom: 1rem;
}

.img-left, .img-right {
	max-width: 40%;
	top: 0.25rem;
}

.img-left {
	float: left;
	margin: 0 1rem 1rem 0;
}

.img-right {
	float: right;
	margin: 0 0 1rem 1rem;
}

/* List */

ol {
	list-style: decimal;
	margin: 0 0 2rem 0;
	padding-left: 1.25rem;

	li {
		padding-left: 0.25rem;
	}
}

ul {
	list-style: disc;
	margin: 0 0 2rem 0;
	padding-left: 1rem;

	li {
		padding-left: 0.5rem;
	}

	&.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 1rem 0 0;

			&:last-child {
				padding-right: 0;
			}
		}
	}

	&.actions {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 1rem 0 0;
			vertical-align: middle;

			&:last-child {
				padding-right: 0;
			}
		}

		&.small li {
			padding: 0 0.5rem 0 0;
		}

		&.vertical li {
			display: block;
			padding: 1rem 0 0 0;

			&:first-child {
				padding-top: 0;
			}

			>* {
				margin-bottom: 0;
			}
		}

		&.vertical.small li {
			padding: 0.5rem 0 0 0;

			&:first-child {
				padding-top: 0;
			}
		}

		&.fit {
			display: table;
			margin-left: -1rem;
			padding: 0;
			table-layout: fixed;
			width: calc(100% + 1rem);

			li {
				display: table-cell;
				padding: 0 0 0 1rem;

				>* {			
					display: block;
					margin: 0 0 1rem 0;
					width: 100%;

					margin-bottom: 0;
				}
			}
		}

		&.fit.small {
			width: calc(100% + 1rem);
			li {
				>* {
					font-size: 0.8rem;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {

	ul.actions {
		margin: 0 0 2rem 0;

		li {
			padding: 1rem 0 0 0;
			display: block;
			text-align: center;
			width: 100%;

			>* {
				width: 100%;
				margin: 0 !important;

				&.icon::before {
					margin-left: -2rem;
				}
			}
		}

		&:first-child {
			padding-top: 0;
		}

		&.small li {
			padding: 0.5rem 0 0 0;

			&:first-child {
				padding-top: 0;
			}
		}
	}
}

dl {
	margin: 0 0 2rem 0;

	dt {
		display: block;
		font-weight: 700;
		margin: 0 0 1rem 0;
	}

	dd {
		margin-left: 2rem;
	}
}

/* Section/Article */

section.special,
article.special {
	text-align: center;
}

header {
	p {
		position: relative;
		margin: 0 0 1.5rem 0;

		color: var(--sub);
	}

	h2+p {
		font-size: 1.25rem;
		margin-top: -1rem;
	}

	h3+p {
		font-size: 1.1rem;
		margin-top: -0.8rem;
	}

	h4+p,
	h5+p,
	h6+p {
		font-size: 0.9rem;
		margin-top: -0.6rem;
	}
}

/* Dialog/Modal */

dialog {
	padding: 2rem;
	border: 0;
	box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
	max-width: 70%;
  &::backdrop {
    background: rgba(0, 0, 0, 0.5)
  }
}

/* Table */

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 2rem 0;
	width: 100%;

	td {
		padding: 0.75rem 0.75rem;
	}

	th {
		font-size: 0.9rem;
		font-weight: 700;
		padding: 0 0.75rem 0.75rem 0.75rem;
		text-align: left;

		color: var(--header);
	}

	thead {
		border-bottom: solid 2px;

		border-bottom-color: var(--form-border);
	}

	tbody {
		tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;

			border-color: var(--form-border);

			&:nth-child(2n + 1) {
				background-color: var(--form-background);
			}
		}
	}

	tfoot {
		border-top: solid 2px;

		border-top-color: var(--form-border);
	}
}

@media screen and (max-width: 736px) {

	.box .content {
		padding: 2rem;
	}

}

.box {
	border-color: var(--form-border);
}

@import "../styles/vars.scss";