:root {
	//s&h colors
  --sh-blue: #002148; //Nicht-ganz-Oxford-Blau
  --henos-aqua: #00cdcd;
  --henos-gray: #1f2022;

	--link-color: var(--sh-blue); //#99c7ff;

	//new colors
	--primary: var(--sh-blue);
	--secondary: #222;

	--paragraph: var(--secondary); //body > p, buttons
	--header: #555; //h1, h2, h3, h4, h5, h6, hr, strong, b, textarea, label
	--sub: #bbb; //subtitles, disabled und placeholders

  --primary-contrast: #fff; //weiß

	--background: #f2f2f2; //background color
}