.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #002148;
}

.main {
  border: 1px solid #fff;
  padding: 4em;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  input, button {
    color: #fff;
    border: 0px;
    border-bottom: 1px solid var(--white);;
    padding: 5px 30px;
    margin: 10px;
    width: 100%;
    background-color: transparent;

    text-align: center;

    &:focus {
      outline: none;
    }
  }

  button[type="submit"] {
    border: 1px solid var(--white);;
    margin-top: 20px;
    padding: 20px;
    &:hover {
      background-color: var(--white);
      color: var(--sh-blue);
      cursor: pointer;
    }
  }
}
