.bar {
  padding: 3em;
  justify-self: start;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    li {
      font-size: larger;
      width: 100%;
      display: block;
      color: var(--white);
      padding: 5px 30px;
      margin: 10px 0px;
      border: 1px solid var(--white);
      &:hover {
        cursor: pointer;
      }
    }
  }
}